@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app-root, .app {
  width: 100%;
  height: 100%;
}

.app {
  font-family: "Titillium Web", sans-serif;

  .app-header {
    background: #353536;
    color: white;
    display: flex;
    flex-direction: row;

    .xapphire13-logo {
      font-weight: 900;
      font-size: 4em;
      display: inline-block;
      line-height: 1.2em;
      padding: 0 1rem 0 1rem;
      background: #2B2B2B;
    }

    .navigation-menu {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row-reverse;
      align-items: flex-end;

      .navigation-menu-content {
        .navigation-menu-item {
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          font-weight: bold;
          font-size: 1.2em;
          padding: 0 1rem 0 1rem;
          height: 100%;
          z-index: 0;

          &.selected, &:hover {
            color: white;
          }

          &:not(.selected) {
            cursor: pointer;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width 500ms;
            z-index: -1;
          }
        }

        .hover-color-variation(@colors; @index) when (iscolor(extract(@colors, @index))) and (@index > 0) {
          .hover-color-variation(@colors; (@index - 1)); // decrement.

          @color : extract(@colors, @index);

          .navigation-menu-item-@{index} {
            &:hover, &.selected {
              color: white;

              &::before {
                width: 100%;
                background-color: @color;
              }
            }

          }
        }

        @colors : #FF5757, #E8A241, #6DD162, #52BFFF, #995DE8;
        .hover-color-variation(@colors, length(@colors));
      }
    }
  }
}
