.message-bar {
  padding: 0.5em;
  color: white;
  border-radius: 3px;

  &.error {
    background: #FF5757;
    border: 1px solid darken(#FF5757, 20%);
  }

  &.info {
    background: #FF5757;
    border: 1px solid darken(#FF5757, 20%);
  }
}
