.new-post-page {
  #title {
    width: 100%;
    font-size: 2em;
    border: none;
    outline: none;
    font-weight: bold;

    &::placeholder {
      font-style: italic;
    }
  }

  .ReactCodeMirror {
    margin-top: 1em;
    border: 1px solid lightgray;
  }
}
