<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xapphire13</title>
    <link rel="stylesheet" href="/app/styles.css" />

    <style>
      html, body, #app-root { height: 100%; }
      body, #app-root { overflow: hidden; }
    </style>
  </head>
  <body>
    <div id="app-root"></div>
    <script src="/app/main.js"></script>
  </body>
</html>